<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>Black Jack</title>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <script src='script.js' defer></script>
    <link rel='stylesheet' href='style.css'>
</head>

<body>
    <div id='app' v-cloak>
        <h1>Black Jack</h1>
        <template v-if='gameRunning'>
            <div id='gameScreen'>
                <template v-if='cardDisplay'>
                    <div>
                        <p>Dealer Cards: value ({{ cpuValue }})</p>
                        <ul class='cardDisplay'>
                            <li v-for='cards in cpuCards' :style='[cards.color == "Black" ? draw : lost]'> {{ cards.card }}</li>
                        </ul>
                        <p>Player Cards: value ({{ playerValue }})</p>
                        <ul class='cardDisplay'>
                            <li v-for='cards in playerCards' :style='[cards.color == "Black" ? draw : lost]'> {{ cards.card }}</li>
                        </ul>
                        <button @click='hit' type='button'>Hit</button>
                        <button @click='stand' type='button'>Stand</button>
                    </div>
                </template>
                <p>{{ roundResult }}</p>
                <input type='number' v-model.number='playerBet' :disabled=roundRunning></input>
                <button @click='playRound' type='button' class='blockBtn' :disabled='roundRunning || money == 0'>Bet</button>
                <p id='moneyDisplay'>Money: ${{ money }}</p>
            </div>
        </template>
        <button @click='runGame' class='blockBtn' type='button'>{{ gameButton }}</button>
        <button @click='history = !history' class='blockBtn' type='button'>History</button>
        <div v-show='history'>
            <!-- <li v-for='items in roundHistory' v-bind:style='items.result'>{{ items.num }}. {{ items.result }}! {{ items.text }}</li> -->
        </div>
        <button @click='rules = !rules' class='blockBtn' type='button'>Rules</button>
        <ul v-show='rules'>
            <li>The objective of the game is to beat the dealer by getting as close to 21 as possible, without going over.</li>
            <li>Face cards (J, Q, K) are worth 10 points. An Ace is worth 1 or 11 (11 till the total is above 21 and then worth 1). Every other card is worth their pip value.</li>
            <li>The player must bet an ammount before starting the game. The dealer deals to the player and then themselves. The first round of cards is dealt face up and the second round is dealt face up to the player but face down to the dealer.</li>
            <li>If the player is dealt a 21 (a "natural" or "blackjack") with their first two cards, the round ends with the player receiving 2.5x their bet back. If the dealer has a 21 instead then the round is lost by the player and if both have a 21 then the round is a tie.</li>
            <li>After both player and dealer receive their 2 cards the player must continue to "hit" till they decide to "stand". If they go over 21 at any point the round is lost.</li>
            <li>Once the player stands, it is the dealers turn to hit. The dealer will continue to hit till their card value is 17 or above.</li>
            <li>Doubling and splitting are not implemented.</li>
        </ul>
    </div>
</body>

</html>